<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwfUsWot_38Ac3wBhsMWwC-vfVwmCESz4</string>
	<key>GCM_SENDER_ID</key>
	<string>533926334077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cema-task</string>
	<key>STORAGE_BUCKET</key>
	<string>cema-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533926334077:ios:631c7b0b8ac3aae0fa2b14</string>
</dict>
</plist>